<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">

<title layout:fragment="title" th:text="#{navigation.account}">Register</title>


<div class="row flex-grow-1 content" layout:fragment="content">
    <h3 th:text="#{forms.registration.success}"></h3>
    <div th:object="${user}">
        <span>Login:</span>
        <p th:text="*{login}">  </p>
        <span>Active:</span>
        <p th:text="*{active}">  </p>
    </div>
</div>



</html>