<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">

<title layout:fragment="title" th:text="#{navigation.account}">Register</title>


<div class="content row flex-grow-1" layout:fragment="content">
    <form th:action="@{/rent/finish}" method="post" id="finish-rent-form" th:object="${rent}">
        <div class="mb-3">
            <label for="rent" class="form-label" th:text="#{navigation.rent}">Password</label>
            <select th:value="*{rentID}" name="rentID" id="rent" aria-describedby="rentError" class="form-select">
                    <option th:object="${rents}" th:if="${rentItem.getEndDate() == null}"  name="rentID" th:each="rentItem : ${rents}"
                            th:value="${rentItem.getId()}"
                            th:text="${rentItem.getId()}">
                    </option>
            </select>
            <div id="rentError" class="form-text">
                <div th:if="${#fields.hasErrors('rentID')}">
                    <p class="text-danger" th:each="err : ${#fields.errors('rentID')}" th:text="${err}"></p>
                </div>
                <div th:if="${#fields.hasGlobalErrors()}">
                    <p class="text-danger"  th:each="err : ${#fields.errors('global')}" th:text="${err}"></p>
                </div>
            </div>
        </div>
        <button type="submit" id="rent-form-button" class="btn btn-primary" th:text="#{forms.confirm}" >
        </button>
    </form>
</div>


</html>