<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head th:insert="base :: header">
  <meta charset="UTF-8">
  <title th:text="#{navigation.home}">Register</title>
</head>
<body>
<div class="container">
  <nav th:replace="base :: bread-nav(~{ :: .breadcrumbs})">
    <ol class="breadcrumbs breadcrumb mb-0">
      <li class="breadcrumb-item active" aria-current="page" th:text="#{navigation.currentPage}">Current page</li>
    </ol>
  </nav>
  <div class="row flex-grow-1 ">
    <nav th:replace="base :: sidebar"></nav>
    <div th:replace="base :: content-container(~{ :: .content})">
      <div class="content">

        </div>
      </div>
    </div>
  </div>
  <footer th:replace="base :: footer"></footer>
</div>


</body>
</html>