<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head th:insert="base :: header">
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<div class="container">
    <nav th:replace="base :: bread-nav(~{ :: .breadcrumbs})">
        <ol class="breadcrumbs breadcrumb mb-0">
            <li class="breadcrumb-item">
                <a href="#" th:text="#{navigation.home}">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page" th:text="#{navigation.currentPage}">Current page</li>
        </ol>
    </nav>
    <div class="row flex-grow-1 ">
        <nav th:replace="base :: sidebar"></nav>
        <div th:replace="base :: content-container(~{ :: .content})">
            <div class="content">
                <h1 th:text="#{navigation.registration}">Register</h1>
                <form th:action="@{/registerSubmit}" method="post" id="register-form" th:object="${user} ">
                    <div class="mb-3">
                        <label for="login" class="form-label" th:text="#{forms.registration.username}">Login</label>
                        <input type="text" class="form-control" id="login" name="login" aria-describedby="loginError" th:value="*{login}">
                        <div id="loginError" class="form-text">
                            <div th:if="${#fields.hasErrors('login')}">
                                <p th:each="err : ${#fields.errors('login')}" th:text="${err}"></p>
                            </div>
                            <div th:if="${#fields.hasGlobalErrors()}">
                                <span th:each="err : ${#fields.errors('global')}" th:text="${err}"></span>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label" th:text="#{forms.registration.password}" >Password</label>
                        <input type="password" class="form-control" id="password" name="password" aria-describedby="passwordError" th:value="*{login}">
                        <div id="passwordError" class="form-text">
                            <div th:if="${#fields.hasErrors('password')}">
                                <p th:each="err : ${#fields.errors('password')}" th:text="${err}"></p>
                            </div>
                        </div>
                    </div>
                    <label>
                        <input th:type="hidden" name="type" th:value="*{type}">
                    </label>
                    <input type="button" onclick="validateRegisterForm()"  class="btn btn-primary" value="Sign In"/>
                </form>
            </div>
        </div>
        <footer th:replace="base :: footer"></footer>
    </div>
</div>
<script>
    function validateRegisterForm(){
        let isValid = true;

        if(isValid){
            $("#register-form").submit();
        }
    }
</script>
</body>
</html>