<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">

<title layout:fragment="title" th:text="#{navigation.registration}">Register</title>


<div class="content" layout:fragment="content">
    <h1 th:text="#{navigation.registration}">Register</h1>
    <form th:action="@{/register}" method="post" id="register-form" th:object="${user} ">
        <div class="mb-3">
            <label for="login" class="form-label" th:text="#{forms.registration.username}">Login</label>
            <input type="text" class="form-control" id="login" name="login" aria-describedby="loginError" th:value="*{login}">
            <div id="loginError" class="form-text">
                <div th:if="${#fields.hasErrors('login')}">
                    <p class="text-danger"  th:each="err : ${#fields.errors('login')}" th:text="${err}"></p>
                </div>
                <div th:if="${#fields.hasGlobalErrors()}">
                    <p class="text-danger"  th:each="err : ${#fields.errors('global')}" th:text="${err}"></p>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label" th:text="#{forms.registration.password}" >Password</label>
            <input type="password" class="form-control" id="password" name="password" aria-describedby="passwordError" th:value="*{login}">
            <div id="passwordError" class="form-text">
                <div th:if="${#fields.hasErrors('password')}">
                    <p class="text-danger"  th:each="err : ${#fields.errors('password')}" th:text="${err}"></p>
                </div>
            </div>
        </div>
        <label>
            <input th:type="hidden" name="type" th:value="*{type}">
        </label>
        <button th:text="#{forms.registration.confirm}" type="button" onclick="validateRegisterForm()"  class="btn btn-primary"  ></button>
    </form>
</div>


<script layout:fragment="script" type="text/javascript">

    const loginInput = document.getElementById("login");
    const passwordInput = document.getElementById("password");
    const loginErrorContainer = document.getElementById("loginError");
    const passwordErrorContainer = document.getElementById("passwordError");


    function populateWithErrors(errorList,container){
        container.innerHTML = "";
        errorList.forEach((error)=>{
            container.innerHTML += `<p class="text-danger">${error}</p>`
        })
    }

    function validateRegisterForm(){


        let isValid = true;
        let login = loginInput.value;
        let password = passwordInput.value;
        let loginErrors = [];
        let passwordErrors = [];

        if(login.length < 3){
            isValid = false;
            loginErrors.push("Login must have at least 3 characters")
        }
        if(password.length < 3){
            isValid = false;
            passwordErrors.push("Password must have at least 3 characters")
        }

        if(isValid){
            document.getElementById("register-form").submit();
            return;
        }
        populateWithErrors(loginErrors,loginErrorContainer);
        populateWithErrors(passwordErrors,passwordErrorContainer);
    }
</script>
</html>