<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">


<title layout:fragment="title" th:text="#{navigation.account}">Register</title>

<div class="row flex-grow-1 container content" layout:fragment="content">
    <div class="container mt-5" th:object="${rents}">
        <div class="row g-4">
            <div class="col-md-4" th:each="rentItem : ${rents}">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${rentItem.getId()}"></h5>
                        <span th:text="#{cards.rent.startDate}"></span>
                        <p class="card-text" th:text="${rentItem.getStartDate()}"></p>
                        <span th:text="#{cards.rent.endDate}"></span>
                        <p class="card-text" th:text="${rentItem.getEndDate()}"></p>
                        <div th:if="${rentItem.getEndDate() == null}">
                            <form th:action="@{/rent/finish}" method="post" id="finish-rent-form">
                                    <input type="hidden" th:value="${rentItem.getId()}" name="rentID" />
                                <button type="submit" id="rent-form-button" class="btn btn-primary" th:text="#{forms.confirm}" >
                                </button>
                            </form>
                        </div>
                        <span th:text="#{cards.userId}"></span>
                        <p class="card-text" th:text="${rentItem.getUserID()}"></p>
                        <span th:text="#{cards.rentId}"></span>
                        <p class="card-text" th:text="${rentItem.getWorkerID()}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>