<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head th:insert="base :: header">
  <meta charset="UTF-8">
  <title th:text="#{navigation.rent}" >Register</title>
</head>
<body>
<div class="container">
  <nav th:replace="base :: bread-nav(~{ :: .breadcrumbs})">
    <ol class="breadcrumbs breadcrumb mb-0">
      <li class="breadcrumb-item">
        <a th:href="@{/}" th:text="#{navigation.home}">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a th:href="@{/rent}" th:text="#{navigation.rent}">Register</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page" th:text="#{navigation.currentPage}">Current page</li>
    </ol>
  </nav>
  <div class="row flex-grow-1 ">
    <nav th:replace="base :: sidebar"></nav>
    <div th:replace="base :: content-container(~{ :: .content})">
      <div class="content">
        <h3 th:text="#{forms.rent.success}"></h3>
        <div th:object="${rent}">
          <div th:text="*{startDate}">  </div>
        </div>
      </div>
    </div>
  </div>
  <footer th:replace="base :: footer"></footer>
</div>


</body>
</html>